$primary-color: #eeeeee;
$text-color: #40514e;
$heading-color: #355c7d;
$link-color: #903749;
$hover-color: #ff9a00;
$border-color: #ddd;
$boxes-bgColor: #fdfdfd;
$common-color: #ffffff;
$theme-color: #d8d3cd;
